
<form [formGroup]="bookForm" (ngSubmit)="onBookFormSubmit(bookForm.value)">
  <div>
    <label for="bn">Book Name</label>
  </div>
  <div>
    <input name="bn" type="text" placeholder="Book Name" [formControl]="bookForm.controls['name']" />
  </div>
  <div *ngIf="bookForm.controls['name'].touched && bookForm.controls['name'].hasError('required')">
    <b>შეიყვანეთ სათაური</b>
  </div>

  <div>
    <label for="an">Author Name</label>
  </div>
  <div>
    <input name="an" type="text" placeholder="Author Name" [formControl]="bookForm.controls['author']" />
  </div>
  <div *ngIf="bookForm.controls['author'].touched && bookForm.controls['author'].hasError('required')">
    <b>შეიყვანეთ ავტორი</b>
  </div>

  <div>
    <label for="isbn">ISBN</label>
  </div>
  <div>
    <input name="isbn" type="text" placeholder="ISBN" [formControl]="bookForm.controls['isbn']" />
  </div>
  <div *ngIf="bookForm.controls['isbn'].touched && bookForm.controls['isbn'].hasError('required')">
    <b>შეიყვანეთ ISBN კოდი</b>
  </div>
  <div *ngIf="bookForm.controls['isbn'].touched && bookForm.controls['isbn'].hasError('incorrectIsbn')">
    <b>ISBN ფორმატი არასწორია</b>
  </div>

  <button type="submit">
    <ng-container *ngIf="this._book.id > 0; else createBtnTitle">Save</ng-container>
    <ng-template #createBtnTitle>Create</ng-template>
  </button>
  <button type="clear" (click)="cancelEditing()" *ngIf="this._book.id > 0">Cancel</button>
</form>
