
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Author</th>
      <th>ISBN</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books; let i = index">
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.isbn}}</td>
      <td>
        <button type="button" (click)="editBook(book, i)">ჩასწორება</button>
      </td>
    </tr>
  </tbody>
</table>
