
<h1>List of books</h1>

<app-edit-book-form [book]="editingBook" (onSave)="bookSaved($event)" (onCancel)="bookSaveCanceled($event)"></app-edit-book-form>

<app-books-list [books]="books" (onBookEdit)="bookEditClicked($event)"></app-books-list>

<ngx-toasta></ngx-toasta>
